body
{
    background-color: lightcyan;
}
h1{
    margin-top: 50px;
    text-align: center;
}
p{
    font-size: smaller;
    color: darkred;
    padding-left: 10px;
    
}
h2
{
    padding-left: 10px;
}
img{
    height: 500px;
    width: auto;
    padding-left: 10px;
}
.h2-class{
    color:blue;
}
#h2-id{
    color: orange; 
}